@model string

@if (!String.IsNullOrEmpty(Model))
{
    var statusMessageClass = Model.StartsWith("Error") ? "alert-danger" : "alert-success";
    var statusIcon = Model.StartsWith("Error") ? "fas fa-exclamation-circle" : "fas fa-check-circle";

    <div class="alert @statusMessageClass alert-dismissible fade show profile-status" role="alert">
        <i class="@statusIcon me-2"></i>
        @Model
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}