<div class="list-group">
    <a href="#inventoryTab" class="list-group-item list-group-item-action active" data-bs-toggle="pill">
        Inventory
    </a>
    <a href="#transactionTab" class="list-group-item list-group-item-action" data-bs-toggle="pill">
        Bookings
    </a>
    <a asp-controller="Admin" asp-action="RoomInventory" class="list-group-item list-group-item-action">
        Room Management
    </a>
</div>